Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
!Xft.rgba: none
Xft.autohint: true
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcdfilter
Xft.lcdfilter: lcddefault

!! global font
!*.font: xft:monospace:size=12

!! Xterm
XTerm*locale: true
XTerm.termName: xterm-256color
XTerm*scrollBar: false
XTerm*saveLines: 99000
XTerm*renderFont: true
XTerm*faceName: Hack:size=14:antialias=true
!XTerm*faceName: Liberation Mono:size=14:antialias=true
XTerm*cursorColor: green
XTerm*cursorBlink: true
XTerm*innerBorder: 6
XTerm*visualBell: true


!! Urxvt
URxvt.imLocale: en_US.UTF-8
URxvt.termName: rxvt-unicode-256color
URxvt.buffered: false
URxvt.intensityStyles: false
!URxvt.font: xft:monospace:size=12
!URxvt.font: xft:Liberation Mono:size=14:antialias=true
URxvt.font: xft:Hack:size=14:antialias=true
URxvt.saveLines: 99000
URxvt.scrollBar: false
URxvt.cursorColor: green
!URxvt.background: #000000
!URxvt.foreground: #ffffff
URxvt.cursorBlink: true
URxvt.internalBorder: 6
URxvt.visualBell: true


!! Extensions
!URxvt.perl-lib: ~/.urxvt/ext
!URxvt.perl-ext-common: default,tabbed,matcher,keyboard-select,resize-font,-tabbed
!URxvt.perl-ext-common: default,matcher,url-select,keyboard-select,resize-font
URxvt.perl-ext-common: default,matcher,url-select,resize-font
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
!! resize-font
!URxvt.resize-font.smaller: C-j
!URxvt.resize-font.bigger: C-k
URxvt.keysym.C-Up: resize-font:bigger
URxvt.keysym.C-Down: resize-font:smaller
!! keyboard-select
URxvt.keysym.M-escape: perl:keyboard-select:activate
!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! colors
#include ".Xresources.d/solarized"

!#! dmenu
!#dmenu.font: Hack-12
!#dmenu.background: S_base02
!#dmenu.foreground: S_base03
!#dmenu.selforeground: S_base00
!#dmenu.selbackground: S_base02
