[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.0.2
X-AppImage-Name=OneDriveGUI
Name=OneDriveGUI (1.0.2)
Exec=/home/johnm/Applications/OneDriveGUI-1.0.2-x86_64_1b84c900adc54250fd543f66395bd957.AppImage
Icon=appimagekit_c63a0b7b28d2f173cfed83bed7f173bd_OneDriveGUI
Type=Application
Terminal=false
Categories=Utility;
Comment=

TryExec=/home/johnm/Applications/OneDriveGUI-1.0.2-x86_64_1b84c900adc54250fd543f66395bd957.AppImage
X-AppImage-Old-Icon=OneDriveGUI
X-AppImage-Old-Name=OneDriveGUI
X-AppImage-Identifier=c63a0b7b28d2f173cfed83bed7f173bd
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:36:22 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/johnm/Applications/OneDriveGUI-1.0.2-x86_64_1b84c900adc54250fd543f66395bd957.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
