#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/johnm/.local/bin/set_capslock.sh
Path=/home/johnm/.local/bin
Comment=set capslock with setxkbmap
Name=set_capslock
Terminal=true
StartupWMClass=setcapslock
MimeType=application/uproject
X-GNOME-Autostart-enabled=false
