[Desktop Entry]
Comment[en_CA]=
Comment=
Exec=/home/johnm/Applications/balenaEtcher-1.18.4-x64.AppImage
GenericName[en_CA]=
GenericName=
Icon=/home/johnm/.icons/balena_etcher.png
MimeType=
Name[en_CA]=BalenaEtcher
Name=BalenaEtcher
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
