[Desktop Entry]
Comment=Created By Unreal Engine
Exec=/home/johnm/UnrealEngine/5.3.2/Engine/Binaries/Linux/UnrealEditor %f
GenericName=Unreal Engine
Icon=unreal-editor
MimeType=application/uproject
Name=Unreal Editor
NoDisplay=false
Path=/home/johnm/UnrealEngine/5.3.2/Engine/Binaries/Linux
StartupNotify=true
StartupWMClass=UnrealEditor
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
